<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pessoas</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-5 " align="center">
				
			<hr>
			<h2>ToDoList</h2>	
			<hr>
		
			<h3 >Adicionar Tarefa</h3>
			<br><br>
			<form action="#" th:action="@{/rh/pessoas/salvar}" th:object="${pessoa}" method="POST">
				<input type="hidden" id="id" th:field=*{id}>	
				<input type="text" th:field="*{descricao}" placeholder="Adicione uma descrição" class="form-control mb-4 col-4"/>
				
				<button type="submit" class="btn btn-info col-4">Salvar</button>		
			</form>
			<hr>
		<a th:href="#">Retornar para minha lista.</a>
	</div>
</body>
</html>